:root, body {
  background-color: rgb(244, 248, 251);
  color: rgb(58, 58, 58);
}
.ht-theme-main {
  --ht-foreground-color: rgb(58, 58, 58);
  --ht-background-color: rgb(244, 248, 251);
  --ht-row-header-odd-background-color: rgb(169, 226, 210);
  --ht-row-header-even-background-color: rgb(169, 226, 210);
  --ht-header-background-color: rgb(169, 226, 210);
  --ht-header-highlighted-background-color: rgb(113, 216, 187);
  --ht-header-row-highlighted-background-color: rgb(113, 216, 187);
}
.handsontable th {
  vertical-align: middle;
}

header {
  padding: 25px 10px 5px 10px;
}
header h1 {
  font-size: 30pt;
}
footer {
  margin: 20px 10px 10px 10px;
}
footer * {
  font-size: small;
}
main {
  margin: 20px 12vw 40px 12vw;
}

/* .lyrics-table.light-mode td {
  background-color: #f4f8fb;
  color: #3a3a3a;
}
.lyrics-table.dark-mode td {
  background-color: #0e191a;
  color: #e6e6e6;
  border-color: rgb(72, 72, 72) !important;
} */

/* INPUT FIELD CSS */
input[type="color"] {
  padding: 0px 2px !important;
}
.ui.dropdown {
  outline: 1px solid #bcbcbc !important;
}
.ui.input > input {
  border-color: #bcbcbc !important;
}
textarea {
  border-color: #bcbcbc !important;
}
.ui.form .ui.input>input:not([type="color"]), .ui.form .ui.dropdown>input:not([type="color"]), .ui.form textarea {
  background-color: rgb(251, 253, 255);
  color: rgb(58, 58, 58);
}

.infobox-preview {
  height: 45px;
  width: 90%;
  border-width: 4px;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 10px;
  border-radius: 30px;
  background-color: black;
  color: white;
}

.cw-dropdown {
  background-color: #d3edf1 !important;
  color: #35364b !important;
}

.cw-dropdown.questionable {
  background-color: #FFD700 !important;
}
.cw-dropdown.explicit {
  background-color: #c40000 !important;
  color: #ffd584 !important;
}

.active-nav-link {
  font-weight: bold;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-item-left {
  flex-grow: 1;
  padding-right: 10px;
}

.footer-item-right {
  padding-left: 30px;
  text-align: right;
}

.ui.grid .row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.centered-header {
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 10px;
}

.before-button {
  margin-right: 20px;
}

.producer-checkboxes {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.handsontable:has(.playlinks-table) textarea.handsontableInput {
  height: 0px;
  min-height: 0px;
  max-height: 0px;
}

.table-container {
  max-width: 100%;
}

.label-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  gap: 3px;
}
.label-column > div:first-child {
  font-weight: bold;
  font-size: 12pt;
}

div.error, .ui.dropdown.error, textarea.error, .ui.input.error > input {
  background-color:#fff6f6 !important;
  color:red;
  /* outline: 1px inset darkred; */
  box-shadow:none;
}

.select-table {
  border-width: 0px !important;
  outline-width: 0px !important;
  color: inherit !important;
  margin-left: 7px;
  margin-right: 7px;
}

@media only screen and (max-width: 900px) {
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
  /* .table-container {
    min-width: 500px;
  } */
  /* .table-container > div.handsontable {
    background-color: #c40000;
    width: 100%;
  } */
}

@media only screen and (max-width: 600px) {
  main {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }
  .footer-item-right {
    padding-left: 0px;
    text-align: left;
  }
}

.user-tooltip {
  cursor: pointer;
}

#theme-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#theme-toggle > i.icon {
  padding-left: 5px;
}

.dark-mode {
  background-color: rgb(14, 25, 26);
  color: rgb(230, 230, 230);
}
.dark-mode .ui.secondary.pointing.menu {
  border-bottom-color: rgba(255, 255, 255, 0.6);
}
.dark-mode a {
  color: #4ca6ff;
}
.dark-mode a:hover, .dark-mode a:focus {
  color: #a5d2ff;
}
/* DARK MODE: Input text fields + textareas */
.dark-mode .ui.inverted.form .ui.input>input:not([type="color"]), .dark-mode .ui.inverted.form .ui.dropdown>input:not([type="color"]), .dark-mode .ui.inverted.form textarea {
  background-color: rgb(3, 41, 44);
  color: rgb(230, 230, 230);
}
.dark-mode .ui.inverted.form .ui.input>input::selection, .dark-mode .ui.inverted.form .ui.dropdown>input::selection, .dark-mode .ui.inverted.form textarea::selection {
  background-color: rgb(9, 109, 81);
  color: rgb(255, 255, 255);
}
.dark-mode .ui.inverted.form .ui.labeled.input > .ui.checkbox label, .dark-mode .ui.inverted.form .ui.labeled.input > label {
  color: black;
}
/* DARK MODE: CONTENT WARNING Dropdown */
.dark-mode .ui.selection.dropdown.cw-dropdown > .text {
  color: #35364b;
}
.dark-mode .ui.selection.dropdown.cw-dropdown.questionable > .text {
  color: #35364b;
}
.dark-mode .ui.selection.dropdown.cw-dropdown.explicit > .text {
  color: #ffd584;
}
/* DARK MODE: DROPDOWNS */
.dark-mode .ui.selection.dropdown {
  background-color: rgb(3, 41, 44);
}
.dark-mode .ui.selection.dropdown.active, .dark-mode .ui.selection.dropdown.active>.text:not(.default) {
  background-color: rgb(3, 41, 44);
  color: rgb(230, 230, 230);
}
.dark-mode .ui.dropdown .menu {
  background-color: rgb(3, 41, 44);
}
.dark-mode .ui.selection.dropdown .menu>.item {
  border-top: 1px solid rgba(159, 169, 161, 0.6);
}
.dark-mode .ui.dropdown .text {
  color: rgb(230, 230, 230);
}
.dark-mode .ui.multiple.selection.dropdown > .ui.label {
  background-color: rgb(41, 171, 135);
}

/* ON ERROR */
.dark-mode div.error, .ui.dropdown.error, .dark-mode textarea.error, .dark-mode .ui.input.error > input {
  background-color:#470303 !important;
  color:rgb(249, 205, 147);
  /* outline: 1px inset darkred; */
  box-shadow:none;
}
.dark-mode div.error:not(.ui):not(.text) {
  border: solid 2px rgb(249, 205, 147);
}
.dark-mode .ui.message {
  background-color: #35364b;
  color: #fff;
}
.dark-mode .ui.positive.message {
  background-color: #009741;
  color: #fff;
}
.dark-mode .ui.negative.message {
  background-color: #7f0000;
  color: rgb(240 229 214);
}
.dark-mode .ui.negative.message .header {
  color: #f5ebeb;
}

.ui.inverted.popup.user-tooltip-message {
  border: solid 1px #bcbcbc !important;
}
.ui.inverted.popup.user-tooltip-message::before {
  border-left: solid 1px #bcbcbc !important;
  border-top: solid 1px #bcbcbc !important;
}